.todo {
	text-decoration: none;
  padding-right: 20px;
}

.todoLineThrough {
	text-decoration: line-through;
  padding-right: 20px;
}

.containerTodoInfa {
  margin: auto;
  width: 300px;
}

ol {
	font: 14px 'Trebuchet MS', 'Lucida Sans';
	position: relative;
	padding: 0.4em 2em 0.4em 2em;
	margin: 0.5em 200px;
	background: #dad2ca;
	color: #444;
	text-decoration: none;
	border-radius: 0.3em;
	transition: 0.3s ease-out;
}

.deleteBtn {
	position: absolute;
	right: -1em;
	top: 50%;
	margin-top: -1em;
	background: rgb(187, 187, 218);
	height: 2em;
	width: 2em;
	color: red;
	border: 0.3em solid rgb(248, 237, 206);
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 2em;
}

.deleteBtn:hover {
	background: rgb(158, 36, 36);
}

.deleteBtn:active {
	background: #fff;
	color: #f0ecec;
}

.updateBtnYellow {
	position: absolute;
	right: 1.25em;
	top: 50%;
	margin-top: -1em;
	background: yellow;
	height: 2em;
	width: 2em;
	color: blue;
	border: 0.3em solid rgb(248, 237, 206);
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 2em;
}

.updateBtnYellow:hover {
	opacity: 0.8;
}

.updateBtnYellow:active {
	opacity: 0.5;
}

.updateBtnGreen {
	position: absolute;
	right: 1.25em;
	top: 50%;
	margin-top: -1em;
	background: green;
	height: 2em;
	width: 2em;
	color: blue;
	border: 0.3em solid rgb(248, 237, 206);
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 2em;
}

.updateBtnGreen:hover {
	opacity: 0.8;
}

.updateBtnGreen:active {
	opacity: 0.5;
}
